@page "/b"
@using BlazorBootstrap
@using JustifyContent = Microsoft.FluentUI.AspNetCore.Components.JustifyContent
@rendermode InteractiveServer

<Button Color="ButtonColor.Dark" @onclick="async () => await ShowSpinnerAsync(SpinnerColor.Dark)">Dark Spinner</Button>
    <button @onclick="gen">Gen</button>
    <p>@hashedPassword</p>

<Preload LoadingText="Loading .."/>
@code {
    [Inject] protected PreloadService PreloadService { get; set; } = default!;
    string text = string.Empty;
    string hashedPassword;
    bool isLoading = true;
    private async Task ShowSpinnerAsync(SpinnerColor spinnerColor)
    {
        PreloadService.Show(spinnerColor);

        await Task.Delay(3000); // call the service/api

        PreloadService.Hide();
    }
    protected override async Task OnInitializedAsync()
    {
       
        StateHasChanged(); 
    }

    public void gen()
    {
        hashedPassword = BCrypt.Net.BCrypt.HashPassword(text);
        Console.WriteLine($"Hashed Password: {hashedPassword}");
    }
}
